{% for neighbor in neighbors %}
set interfaces {{ neighbor.interface }} unit 0 family inet address {{ neighbor.local_ip }}/30
set protocols bgp group demo neighbor {{ neighbor.peer_ip }} peer-as {{ neighbor.peer_asn }}
{% endfor %}
set interfaces lo0 unit 0 family inet address {{ loopback }}/32
set protocols bgp log-updown group demo type external multipath
set routing-options router-id {{ loopback }}
set routing-options autonomous-system {{ local_asn }}
set routing-options forwarding-table export ecmp
set policy-options policy-statement ecmp then load-balance per-packet
set policy-options policy-statement bgp-out from interface lo0.0
set policy-options policy-statement bgp-out then accept
set protocols bgp group demo export bgp-out
